<ion-modal-view >
    <ion-header-bar class="positive-bg text-center">
        <div class="h1 title light">{{::c.localize.strings['ShareHeader']}}</div>
        <button class="button button-icon icon ion-ios-upload-outline light" ng-click="ShareCartAndShopDetails()"></button>
        <button class="button button-icon icon ion-ios-close-empty light" ng-click="modal.close()"></button>
    </ion-header-bar>

    <ion-content class="content-bg">

        <div class="list">
            <div class="item item-avatar-right item-checkbox" ng-repeat="shop in shopsNear track by $index">
                <img ng-src={{::shop['BrandImage']}}>
                <label class="checkbox">
                    <input type="checkbox" ng-checked="shop.IsChecked" ng-model="shop.IsChecked">
                </label>

                <div style="text-align:right">
                    <h2>{{::c.localize.strings['StoreName']}} {{shop["BrandNameHeb"]}}</h2>
                    <h2>{{::c.localize.strings['PriceInStore']}} {{shop["CartPrice"]}}</h2>
                    <h2>{{::c.localize.strings['DistanceToStore']}} {{shop["Distance"]}}</h2>
                    <h2>{{::c.localize.strings['StoreAddress']}} {{shop["Address"]}}</h2>
                </div>
            </div>
        </div>

    </ion-content>
</ion-modal-view>

