<ion-view view-title={{::c.currentCartName}}>
    <div class="bar bar-subheader item-input-inset effectSubHeader">
        <div style="background-color: #FBF3F4;" class="subFooterHalfButton" ng-hide="myCart.length == 0" ng-click="ToggleDeleteValue()">
            <span style="color: #ed474b; padding:12px; font-size: 17px;">{{::c.localize.strings['RemoveProducts']}}&nbsp;&nbsp;&nbsp;</span>
            <span style="color: #ed474b; padding-top:4px; font-size: 25px;">_</span>
        </div>
        <div style="height: 100%; border-left: 1px solid #B7B3B3;"></div>
        <div style="background-color: #EBF5FB;" class="subFooterHalfButton" ng-click="ShowFilterBar()">
            <span style="color: #5593B7; padding:12px; font-size: 17px;">{{::c.localize.strings['AddProduct']}}&nbsp;&nbsp;&nbsp;</span>
            <span style="color: #5593B7; padding-top:13px; font-size: 25px;">+</span>
        </div>
    </div>

    <ion-content has-bouncing="true" class="content-bg has-subheader" style="background-image: url('img/bg.png'); background-size: auto; background-repeat: repeat;">

        <ion-list class="list" show-delete="shouldShowDelete">
            <div collection-repeat="product in c.myCart" divider-collection-repeat>

                <ion-item>
                    <div class="item item-avatar-right" style="height:72px; background-color: white">
                        <img style="width: auto;" ng-src={{product['ImagePath']}}>

                        <div class="ionic-input-group" style="float:left; margin-left: -10px;">
                            <span class="ionic-input-group-addon-left" ng-disabled="product['Amount'] == 0" ng-click="c.UpdateProductAmount(product, -1); $event.stopPropagation()">&nbsp;&nbsp;-&nbsp;&nbsp;</span>
                            <label class="ionic-form-control">{{product["Amount"]}}</label>
                            <span class="ionic-input-group-addon-right" ng-click="c.UpdateProductAmount(product, +1); $event.stopPropagation()">&nbsp;&nbsp;+&nbsp;&nbsp;</span>
                        </div>
                        <h2 ng-style="{'padding-top': product.ItemName.length < 15 ? '7px' : '0px' }" style="text-align: right; white-space: pre-line;">{{product.ItemName}}</h2>

                        <ion-delete-button class="ion-minus-circled"
                                           ng-click="DeleteProduct(product)">
                        </ion-delete-button>
                    </div>
                </ion-item>

            </div>
            <div ng-if="myCart.length == 0" class="no-results">
                <p>{{::c.localize.strings['NoProductsInCart']}}</p>
            </div>

        </ion-list>

    </ion-content>

    <ion-footer-bar style="justify-content: space-between; -webkit-justify-content: space-between;" class="effectFooter" >
        <div ng-click="DeleteCart()" class="box effect1 button-fab" style="background-color: #D05558">
            {{::c.localize.strings['DeleteCartTitle']}}
        </div>
        <div ng-click="FindBestShop()" class="box effect1 button-fab" style="background-color: #5593B7">
            {{::c.localize.strings['FindBestShop']}}
        </div>
    </ion-footer-bar>
</ion-view>

