<ion-header-bar class="bar bar-subheader item-input-inset">
    <button class="button button-icon icon ion-minus-circled" ng-click="ToggleDeleteValue()"></button>
    <button class="button button-clear button-positive" ng-click="OpenProductsList()"> {{::c.localize.strings['EditButton']}} </button>
</ion-header-bar>


<ion-view view-title={{::c.currentCartName}}>

    <ion-content class="content-bg">

        <div class="item item-input-inset">
            <label class="item-input-wrapper" ng-click="clearSearch()">
                <!-- TODO: without the style="width it doesn't work -->
                <i class="icon ion-ios-search placeholder-icon" style="width: 100%;"></i>
                <input type="search" ng-model="c.searchQuery" placeholder={{::c.localize.strings['SearchQueryCartDetailsPlaceholder']}}>
                <button class="button button-clear">X</button>
            </label>
        </div>

        <!-- TODO: Is there a way to make swipe right? -->
        <ion-list show-delete="shouldShowDelete"
                  show-reorder="shouldShowReorder"
                  can-swipe="listCanSwipe">
            <ion-item ng-repeat="product in c.myCart | filter:c.searchQuery"
                      class="item-avatar-right">

                <img ng-src={{product['ItemImage']}}>

                <h2 style="text-align:right">{{product.ItemName}}</h2>
                <h2 class="heb-selector-group" style="text-align:right; direction: rtl;">{{c.localize.strings['Amount']}}


                        <select class="heb-select">
                            <option>Blue</option>
                            <option selected>Green</option>
                            <option>Red</option>
                        </select>
                </h2>

                <ion-option-button class="ion-minus-circled"
                                   ng-click="DeleteProduct(product)">
                </ion-option-button>

                <ion-delete-button class="ion-minus-circled"
                                   ng-click="DeleteProduct(product)">
                </ion-delete-button>

            </ion-item>
        </ion-list>

        <div>
            <button ng-click="ClearMyCart()" class="button button-outline button-positive icon-left ion-ios-compose-outline">Clear my cart</button>

            <button ng-click="FindBestShop()" class="button button-outline button-positive icon-left ion-ios-compose-outline">Find best shop</button>
        </div>
    </ion-content>


</ion-view>