<ion-view view-title={{::c.localize.strings['MyCartsTitle']}}>
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-plus-round" ng-click="CreateNewCart()"></button>
    </ion-nav-buttons>

    <ion-content class="content-bg">

        <div class="list animate-blinds">
            <div class="item item-divider">
                User Defined carts
            </div>
            <a class="item item-avatar-right" ng-repeat="cartInfo in c.myCartsInfo | filter:{ 'IsPredefined' : 0 } | orderBy:'-CartID'" ng-click="OpenCartDetails(cartInfo['CartID'])">
                <img ng-src={{cartInfo['ImageUrl']}}>
                <h2 style="float:right">{{cartInfo['CartName']}}</h2>
                <!-- want the color to be white and not dark blue -->
                <label class="checkbox checkbox-{{cartInfo['CheckboxColor']}}">
                    <input type="checkbox" ng-checked="cartInfo.IsChecked" ng-model="cartInfo.IsChecked" ng-click="ChangeCheckbox(); $event.stopPropagation()">
                </label>
            </a>
            <div class="item item-divider">
                Predefined carts
            </div>
            <a class="item item-avatar-right" ng-repeat="cartInfo in c.myCartsInfo | filter:{ 'IsPredefined' : 1 }" ng-click="OpenCartDetails(cartInfo['CartID'])">
                <img ng-src={{cartInfo['ImageUrl']}}>
                <h2 style="float:right">{{cartInfo['CartName']}}</h2>
                <!-- want the color to be white and not dark blue -->
                <label class="checkbox checkbox-{{cartInfo['CheckboxColor']}}">
                    <input type="checkbox" ng-checked="cartInfo.IsChecked" ng-model="cartInfo.IsChecked" ng-click="ChangeCheckbox(); $event.stopPropagation()">
                </label>
            </a>
        </div>

    </ion-content>
</ion-view>

<ion-footer-bar>
    <button ng-click="FindBestShop();" class="button button-fab button-flat button-positive find-best-shop-button" data-ink-color="#ff0000" data-ink-opacity=".8" >{{::c.localize.strings['FindBestShop']}}</button>
    <h4 style="text-align:right;">
        {{totalCartsSelected}} :{{::c.localize.strings['TotalCartsSelected']}}
    </h4>
</ion-footer-bar>