<ion-view view-title={{::c.localize.strings['CompareProductsTitle']}}>
    <ion-content class="content-bg">

        <div class="list animate-blinds">
            <h3 class="item item-divider" style="text-align:right;">
                {{::c.localize.strings['PredefinedProductGroups']}}
            </h3>
            <a class="item item-avatar-right" ng-repeat="productGroupInfo in c.productGroupsInfo" ng-click="OpenProductGroupDetails(productGroupInfo['ProductGroupID'])">
                <img ng-src={{productGroupInfo['ImageUrl']}}>
                <h2 style="float:right">{{productGroupInfo['ProductGroupName']}}</h2>
            </a>
        </div>

    </ion-content>
</ion-view>