<ion-header-bar style="justify-content: flex-end; -webkit-justify-content: flex-end;" class="bar bar-subheader item-input-inset  effectSubHeader">
    <div>
        <span style="color: #5593B7; margin-right:10px; padding:10px;" ng-click="ShowFilterBar()">{{::c.localize.strings['FindProduct']}}</span>
    </div>
</ion-header-bar>

<ion-view view-title={{::c.localize.strings['CompareProductsTitle']}}>
    <ion-content class="content-bg has-subheader" style="background-image: url('img/bg.png'); background-size: auto; background-repeat: repeat;">

        <div ng-if="c.showTipInProductGroups == 1" style="width:94%; margin-left:3%; margin-top:3%; border: 3px dashed #ADADAD; border-radius: 30px; text-align:center; font-family: simpleHebrewFont; font-size: 16pt; color: #A2A2A2">
            <div style="margin-bottom:5px; margin-top:5px;"> {{::c.localize.strings['ProductHint1']}} <br>
                {{::c.localize.strings['ProductHint2']}} <br>
                {{::c.localize.strings['Or']}} <br>
                {{::c.localize.strings['ProductHint3']}} <br>
                {{::c.localize.strings['ProductHint4']}}
            </div>
        </div>

        <div class="card animate-blinds">
            <h1 class="item item-divider" style="text-align:right; background-color: #C1D6E2;">
                {{::c.localize.strings['PredefinedProductGroups']}}
            </h1>

            <a class="item item-avatar-right" ng-click="OpenSubProductGroup(productGroupInfo['ProductGroupID'])" ng-repeat="productGroupInfo in c.productGroupsInfo" style="height:72px">
                <img ng-src={{productGroupInfo['ImageUrl']}}>
                <i class="icon ion-chevron-left" style="float:left; padding-top: 10px;"></i>
                <h2 style="text-align: right; padding-top:10px; white-space: pre-line;">{{productGroupInfo['ProductGroupName']}}</h2>
            </a>
        </div>

    </ion-content>
</ion-view>