<ion-header-bar style="justify-content: flex-end; -webkit-justify-content: flex-end;" class="bar bar-subheader item-input-inset  effectSubHeader" ng-click="ShowFilterBar()">
    <div>
        <span id="productGroupsTooltipPosition" style="color: #5593B7; padding:10px;" >{{::c.localize.strings['FindProduct']}}</span>
        <i class="icon ion-ios-search" style="padding-top: 10px; padding-right: 10px;"></i>
    </div>
</ion-header-bar>

<ion-view view-title={{::c.localize.strings['CompareProductsTitle']}}>
    <ion-content delegate-handle="productGroupsContent" has-bouncing="true" class="content-bg has-subheader" style="background-image: url('img/bg.png'); background-size: auto; background-repeat: repeat">

        <div id="tipInProductGroups" ng-if="c.showTipInProductGroups == 1" style="width:94%; margin-left:3%; margin-top:3%; border: 3px dashed #8C9294; border-radius: 20px; text-align:center; font-family: simpleHebrewFont; margin-bottom: 8px; font-size: 16pt; color: #8C9294">
            <div style="margin-bottom:5px; margin-top:5px;">
            <i class="icon ion-arrow-up-c" style="color:#8C9294;"></i> {{::c.localize.strings['ProductHint1']}} <br>
            {{::c.localize.strings['Or']}} <br>
            <i class="icon ion-arrow-down-c" style="color:#8C9294;"></i> {{::c.localize.strings['ProductHint2']}}
            </div>
        </div>

        <h1 class="item item-divider" style="text-align:right; background-color: #ECF8FF;">
            {{::c.localize.strings['PredefinedProductGroups']}}
        </h1>

        <uib-accordion ng-repeat="singleProductGroupInfo in productGroupsInfo track by $index" ng-init="groupIndex = $index" ng-click="GroupWasClicked($index)">
            <uib-accordion-group image-url={{::singleProductGroupInfo['ImageUrl']}} heading={{::singleProductGroupInfo['ProductGroupName']}} is-group="1" is-open="isGroupOpen[groupIndex]">
                <uib-accordion>
                    <uib-accordion-group ng-repeat="singleSubGroup in singleProductGroupInfo['SubGroups'] track by $index"
                                         heading={{::singleSubGroup['SubProductGroupName']}}
                                         image-url={{::singleSubGroup['ImageUrl']}}
                                         is-open="isSubGroupOpen[groupIndex][$index]">
                        <div style="margin: 0px;" ng-repeat="singleProduct in singleSubGroup['Products']" class="card" ng-click="FindBestShop(singleProduct)">
                            <a class="item item-avatar-right">
                                <img style="width: auto;" ng-src={{::singleProduct['ImagePath']}}>
                                <i class="icon ion-chevron-left" style="float:left; padding-top: 10px; padding-right: 10px;"></i>
                                <h2  ng-style="{ 'padding-top': singleProduct.ItemName.length < 35 ? '10px' : '0px' }" style="text-align: right; white-space: pre-line;">{{::singleProduct.ItemName}}</h2>
                            </a>
                        </div>
                        <!-- Special "button/item" to show search tooltip -->
                        <div style="margin: 0px; text-align: center" class="card" >
                            <button class="button button-light" style="direction: rtl;" ng-click="ShowSearchToolTip()">
                                {{::c.localize.strings['SearchTooltipButtonText']}}
                            </button>
                        </div>


                    </uib-accordion-group>
                </uib-accordion>
            </uib-accordion-group>
        </uib-accordion>
    </ion-content>
</ion-view>