<ion-view view-title={{::c.currentProductGroupName}}>

    <ion-content class="content-bg">

        <div class="card">
        <!--<div class="animate-blinds card">-->
            <a class="item item-avatar-right"  style="height:72px" ng-repeat="product in myProductGroup" ng-click="FindBestShop(product['ItemCode'])">
                <img style="width: auto;" ng-src={{product['ImagePath']}}>
                <i class="icon ion-chevron-left" style="float:left; padding-top: 10px; padding-right: 10px;"></i>
                <h2  ng-style="{ 'padding-top': product.ItemName.length < 35 ? '10px' : '0px' }" style="text-align: right; white-space: pre-line;">{{product.ItemName}}</h2>
            </a>
        </div>

    </ion-content>
</ion-view>
