<ion-header-bar class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper" ng-click="clearSearch()">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="searchQuery" placeholder="Enter recipe name">
        <button class="button button-clear">X</button>
    </label>
</ion-header-bar>


<ion-view view-title="Recipes">
    <ion-content class="content-bg">

        <ion-list>
            <ion-item ng-repeat="recipe in recipes | filter:searchQuery">
                <div class="row">

                    <div class="col col-75">
                        <a nav-direction="forward" href="#/tab/recipes/{{recipe.id}}" class="item item-thumbnail-left">
                            <img ng-src="{{recipe.imageUrl}}">
                            <h3>{{recipe.name}}</h3>
                            <p style="word-break: break-word; white-space: normal;">{{recipe.description}}</p>
                        </a>
                    </div>

                    <div class="col">
                        <button ng-click="IncreaseRecipes(recipe.id)" class="button button-outline button-positive item item-input-inset" style="display:inline-block">
                            +
                        </button>

                        {{recipesSelected[recipe.id]}}


                        <button ng-click="DecreaseRecipes(recipe.id)" class="button button-outline button-positive item item-input-inset" style="display:inline-block">
                            -
                        </button>
                    </div>
                </div>

            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>

<ion-footer-bar>
    <div style="width: 30%; vertical-align: bottom;">
        Total recipes: {{totalRecipesSelected}}
    </div>

    <button ng-click="FindBestShop()" class="button button-outline button-positive icon-left ion-ios-compose-outline" style="float: right;">Find best shop</button>
</ion-footer-bar>

