<ion-view view-title="Recipe">
  <ion-content class="content-bg">
    <div class="thumb item item-thumbnail-left">
      <img ng-src="{{recipe.imageUrl}}">
      <h2>{{recipe.name}}</h2>
      <p>{{recipe.description}}</p>
    </div>

    <button ng-click="FindBestShop()" class="button button-outline button-positive icon-left ion-ios-compose-outline">Find best shop</button>

    <ion-list>

      <ion-item class="item-stable"
                ng-click="toggleGroup(0)"
                ng-class="{active: isGroupShown(0)}">
        <i class="icon" ng-class="isGroupShown(0) ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        Nutritional value and ingredients
      </ion-item>
      <ion-item class="item-accordion"
                ng-show="isGroupShown(0)">
          <table class="bottomBorder" style="width:50%">
            <tr>
              <th>Nutritional mark</th><th>100 gramm</th>
            </tr>
            <tr ng-repeat="(key, value) in recipe.nutritional">
              <td> {{key}} </td> <td> {{ value }} </td>
            </tr>
          </table>
      </ion-item>

      <ion-item class="item-stable"
                ng-click="toggleGroup(1)"
                ng-class="{active: isGroupShown(1)}">
        <i class="icon" ng-class="isGroupShown(1) ? 'ion-minus' : 'ion-plus'"></i>
        &nbsp;
        Products
      </ion-item>
      <ion-item class="item-accordion"
                ng-show="isGroupShown(1)">
        <table style="width:95%">
          <tr ng-repeat="productID in recipe.products">
            <td align="right"> {{c.allProductsByItemID[productID]["ItemName"]}} </td>
          </tr>
        </table>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>

