<ion-view>
    <ion-content has-bouncing="true">

        <ion-list class="list">
            <div collection-repeat="singleProduct in c.filteredProductsToShow" item-height="72px" divider-collection-repeat>
                <a ng-if="c.searchResultsStyle=='productGroups'" class="item item-avatar-right" ng-click="c.FindBestShopProductGroups(singleProduct['ItemCode'], singleProduct['ItemName'], singleProduct['ImagePath'])" style="background-color: white">
                    <img style="width: auto;" ng-src={{singleProduct['ImagePath']}}>
                    <i class="icon ion-chevron-left" style="float:left; padding-top: 10px; padding-right: 10px;"></i>
                    <h2 ng-style="{ 'padding-top': singleProduct.ItemName.length < 35 ? '10px' : '0px' }" style="text-align: right; padding-top:10px;">{{singleProduct['ItemName']}}</h2>
                </a>

                <ion-item ng-if="c.searchResultsStyle=='cartDetails'">
                    <div class="item item-avatar-right" style="height:72px; background-color: white">
                        <img style="width: auto;" ng-src={{singleProduct['ImagePath']}}>

                        <div class="ionic-input-group" style="float:left; margin-left: -10px;">
                            <span ng-hide="singleProduct.Amount == 0" class="ionic-input-group-addon-left" ng-click="c.UpdateProductAmount(singleProduct, -1, false); $event.stopPropagation()">&nbsp;&nbsp;-&nbsp;&nbsp;</span>
                            <span ng-hide="singleProduct.Amount == 0"><label class="ionic-form-control">{{singleProduct["Amount"]}}</label></span>
                            <span ng-class="{'ionic-input-group-addon-right': singleProduct.Amount != 0, 'ionic-input-group-addon-center': singleProduct.Amount == 0}" ng-click="c.UpdateProductAmount(singleProduct, +1, false); $event.stopPropagation()">&nbsp;&nbsp;+&nbsp;&nbsp;</span>
                        </div>
                        <h2 ng-style="{'padding-top': product.ItemName.length < 15 ? '7px' : '0px' }" style="text-align: right; white-space: pre-line;">{{singleProduct.ItemName}}</h2>

                        <ion-delete-button></ion-delete-button>
                    </div>
                </ion-item>
            </div>
        </ion-list>

        <div ng-if="showNoResults" class="no-results">
            <p>{{::c.localize.strings['NoResults']}}</p>
        </div>
    </ion-content>
</ion-view>