<ion-view hide-nav-bar="true">
    <!-- top 44px is the height of search bar -->
    <ion-content ng-class="ionContentTopSearchBar" has-bouncing="true">

        <div class="list" collection-repeat="singleProduct in c.filteredProductsToShow" item-height="72px" divider-collection-repeat>
            <a class="item item-avatar-right" ng-click="c.FindBestShopProductGroups(singleProduct['ItemCode'], singleProduct['ItemName'], singleProduct['ImagePath'])" style="background-color: white">
                <img style="width: auto;" ng-src={{singleProduct['ImagePath']}}>
                <i class="icon ion-chevron-left" style="float:left; padding-top: 10px; padding-right: 10px;"></i>
                <h2 ng-style="{ 'padding-top': singleProduct.ItemName.length < 35 ? '10px' : '0px' }" style="text-align: right; padding-top:10px;">{{singleProduct['ItemName']}}</h2>
                <h3 style="text-align: right; direction: rtl; color: green" ng-show='(c.lastAddress != "") && ((singleProduct.MinPrice + singleProduct.MaxPrice) != 0) && (singleProduct.MinPrice != singleProduct.MaxPrice)' >{{singleProduct.MaxPrice}}{{::c.localize.strings['CurrencySign']}} - {{singleProduct.MinPrice}}{{::c.localize.strings['CurrencySign']}} </h3>
                <h3 style="text-align: right; direction: rtl; color: green" ng-show='(c.lastAddress != "") && ((singleProduct.MinPrice + singleProduct.MaxPrice) != 0) && (singleProduct.MinPrice == singleProduct.MaxPrice)' >{{singleProduct.MaxPrice}}{{::c.localize.strings['CurrencySign']}} ~</h3>
                <h3 style="text-align: right; direction: rtl; color: red" ng-show='(c.lastAddress != "") && ((singleProduct.MinPrice + singleProduct.MaxPrice) == 0)' >{{::c.localize.strings['NoProductNearYou']}}</h3>
            </a>
        </div>

        <div ng-if="showNoResults" class="no-results">
            <p>{{::c.localize.strings['NoResults']}}</p>
        </div>
    </ion-content>
</ion-view>