<ion-header-bar class="bar bar-subheader item-input-inset">

    <label class="item-input-wrapper" ng-click="clearSearch()">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="searchQuery" placeholder="URL, #hashtag, @nickname my cart2">
        <button class="button button-clear">X</button>
    </label>

</ion-header-bar>
<ion-view view-title="My Cart">
    <ion-content class="content-bg">

        <ion-list>

        </ion-list>
    </ion-content>
</ion-view>