<ion-tabs class="tabs-icon-top">

    <ion-tab title={{::c.localize.strings['MyCartsTitle']}} class="light-bg" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/myCarts">
        <ion-nav-view name="tabMyCarts" ></ion-nav-view>
    </ion-tab>

    <ion-tab title="Recipes" class="light-bg" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" badge="c.userInfo.data.newsFeed" badge-style="badge-assertive" href="#/tab/recipes">
        <ion-nav-view name="tabRecipes" ></ion-nav-view>
    </ion-tab>

</ion-tabs>