# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/*
!plugins/fetch.json
npm-debug.log
workspace.xml
www/img/no_item_pict.png
www/img/no_item_pict.psd
www/img/graphics/
