<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- bootsrap css; used to create +/- amount in items count -->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <!-- Must be after the ionic.css -->
    <link href="lib/ionic-filter-bar/dist/ionic.filter.bar.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!--<link href="lib/ionic-material/dist/ionic.material.css" rel="stylesheet">-->

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.min.js"></script>
    <script src="lib/ionic-material/dist/ionic.material.min.js"></script>

    <!-- filter bar -->
    <script src="lib/ionic-filter-bar/dist/ionic.filter.bar.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/lang.js"></script>
    <script src="js/circular-progress.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&language=iw"></script>

  </head>

  <body ng-app="ComparePrices" ng-cloak ng-controller="RootCtrl">

  <ion-side-menus enable-menu-with-back-views="true">
      <!-- Center content -->
      <ion-side-menu-content>
          <ion-nav-bar class="bar-positive effectHeader" back-button-type="button-icon" back-button-icon="ion-arrow-left-c">
              <ion-nav-back-button>
              </ion-nav-back-button>
              <ion-nav-buttons side="right">
                  <button class="button button-icon button-clear ion-ios-gear light" menu-toggle="right">
                  </button>
              </ion-nav-buttons>
          </ion-nav-bar>

          <ion-nav-view  animation="slide-left-right">
          </ion-nav-view>
      </ion-side-menu-content>

      <!-- Right menu -->
      <ion-side-menu side="right">

          <div>
              <h2 style="text-align:center; font-family: simpleHebrewFont; margin-top:30px;">{{::c.localize.strings['Properties']}}</h2>
          </div>

          <!--Address section-->
          <div style="text-align:right; margin-right: 20px">
            {{::c.localize.strings['CurrentAddress']}}
          </div>
          <div style="color:#a3a3a3; text-align:right; margin-right: 30px; margin-top: 5px" ng-if="c.lastAddress != ''">
              {{c.lastAddress}}
          </div>

          <table style="width:95%; margin-top: 10px; margin-left: 10px">
              <tr>
                  <td style="width:80%;">
                      <label class="toggle toggle-positive">
                          <input type="checkbox" ng-checked="c.useUsersCurrentLocation" ng-model="c.useUsersCurrentLocation" ng-click="c.LocationToggleChanged()">
                          <div class="track">
                              <div class="handle"></div>
                          </div>
                      </label>
                      <span style="float:right; padding-right:8px; padding-top:8px;">{{::c.localize.strings['ToggleMyLocation']}}</span>
                  </td>
                  <td rowspan="2" style="vertical-align: middle;">
                    <div style="text-align:center;">
                      {{::c.localize.strings['Or']}}
                    </div>
                  </td>
              </tr>
              <tr>
                  <td>
                      <div class="bar bar-header item-input-inset">
                          <google-autocomplete></google-autocomplete>
                      </div>
                  </td>
              </tr>
          </table>


          <!--Range inputs-->
          <div style="text-align: right; margin-right: 20px; margin-top: 20px">
            <span> {{c.localize.strings['DistanceToShop']}}</span>
            <span> {{c.rangeForShops}} </span>
            <span> {{c.localize.strings['Kilometer']}}</span>
          </div>
          <div class="item range range-positive" style="border: none; ">
              <input type="range" min="5" max="20" value="c.rangeForShops" ng-model="c.rangeForShops" ng-change="c.UpdateRangeForShops()">
          </div>

          <div style="text-align: right; margin-right: 20px">
              <span> {{c.localize.strings['MaxShopsToShow']}}</span>
              <span> {{c.maxShopsToShow}} </span>
          </div>
          <div class="item range range-positive" style="border: none">
              <input type="range" min="5" max="20" value="c.maxShopsToShow" ng-model="c.maxShopsToShow">
          </div>

          <div style="text-align: right; margin-right: 20px">
              <span> {{c.localize.strings['MaxShopsOfTheSameBrand']}}</span>
              <span> {{c.maxShopsOfTheSameBrand}} </span>
          </div>
          <div class="item range range-positive" style="border: none">
              <input type="range" min="1" max="7" value="c.maxShopsOfTheSameBrand" ng-model="c.maxShopsOfTheSameBrand">
          </div>

      </ion-side-menu>
  </ion-side-menus>
  </body>
</html>
