/* Empty. Add your own CSS if you like */
table.bottomBorder th { border-bottom:1px solid black; text-align:center;}
table.bottomBorder td { text-align:center; padding:3px;}

.list .item.item-accordion {
    line-height: 27px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.05s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}